.posts-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 80px; /* Add space for the floating create post button */
  }
  
  .no-posts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 1.2rem;
    gap: 0.5rem;
    margin-top: 2rem;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .no-posts-icon {
    color: #ccc;
    animation: bounce 1.5s infinite;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  @media (max-width: 768px) {
    .posts-container {
      width: 90%;
    }
  }