.header {
  background-color: var(--color-primary-dark);
  padding: 1rem 0;
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: var(--color-light);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-accent);
}

.join-button,
.logout-button {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--color-accent);
}